.slider{ 
  position: center;
top: 40px; 
left: 40px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image{
  width: 800px;
  height: 600px;
  border-radius: 10px;
}
.right-arrow {
  position:absolute;
  top: 50%;
  right:50px;
  font-size: 3rem;
  color: #000;
  z-index:10;
  cursor:pointer;
  user-select:none;

}
.left-arrow {
  position:absolute;
  top: 50%;
  left: 50px;
  font-size: 3rem;
  color: #000;
  z-index:10;
  cursor:pointer;
  user-select:none;
}
.slide {
  opacity : 0;
  transition-duration: 1s ease;
}
.slide.active {
  opacity :1;
  transition-duration: 1s;
  transform: scale (1.08);
}

.App {
  font-weight: 900;
  font-family: EB Garamond;
  text-align: center;
}
.form {
  font-family: EB Garamond;
}
